@import "variables";

.container {
  --padding-left: 14px;
  --padding-right: 15px;

  padding-left: var(--padding-left);
  padding-right: var(--padding-right);

  @media (min-width: $breakpoint-desktop) {
    max-width: var(--breakpoint_desktop);
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}