@import "variables";

.container {
  --padding-top: 14px;
  --padding-bottom: 15px;

  padding-inline-start: var(--padding-top);
  padding-inline-end: var(--padding-bottom);

    @media (min-width: $breakpoint-desktop) {
      max-width: var(--breakpoint_desktop);
      margin-left: auto;
      margin-right: auto;
      padding: 0;
    }
}