@import "variables";

.container {
  --padding-right: 14px;
  --padding-left: 15px;

  padding-inline-start: var(--padding-right);
  padding-inline-end: var(--padding-left);

    @media (min-width: $breakpoint-desktop) {
      max-width: var(--breakpoint_desktop);
      margin-left: auto;
      margin-right: auto;
      padding: 0;
    }
}