@import "variables";

:root {
  --fonts_size: #{$based_unit};
  --padding-top: #{$padding-top};
  --padding-bottom: #{$padding-bottom};
  --padding-right: #{$inline_padding};
  --padding-left: #{$inline_padding};
  --breakpoint_desktop: #{$breakpoint-desktop};
  --elem_width: 324px;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: var(--fonts_size);
  line-height: 24px;
  margin: 0;
  // overflow-x: hidden; // avoid overflowing the website
  background-color: $grey;
}

ul {
  @include reset-list(); // remove the default style for the list element
}

// paragraph and figure always have margin by default, that need to remove because it breaks the style we've been added
p,
figure {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --line-height: 48px;
  margin: 0;
  font-family: 'DM Serif Display', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: var(--line-height);
  font-size: var(--fonts_size);  // we once set the font property by default, we don't need to repeat it again but just update the value for all the headings
}

a {
  text-decoration: none;
  color: currentColor;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  border-radius: $radius;
}

// By default, the font style for address element is italic, so we need to change it if we do not need it
address {
  font-style: normal;
}

dd {
  margin: 0;
}

button {
  cursor: pointer;
}