
$font-faces: 
  (
    name: "DM Sans Bold",
    system-name: "DM-Sans-Bold",
    weight: 700,
    style: normal,
    filename: "dm_sans_700"
  ),
  (
    name: "DM Sans Regular",
    system-name: "DM-Sans-Regular",
    weight: 400,
    style: normal,
    filename: "dm_sans_400"
  ),
  (
    name: "DM Serif Display Regular",
    system-name: "DM-Serif-Display-Regular",
    weight: 400,
    style: normal,
    filename: "dm_serif_isplay_400"
  )
;
