@import  "variables";

.footer {
  --padding-top: 75px;
  --padding-bottom: 28px;
  background-color: $white;
  padding-block-start: var(--padding-top);
  padding-block-end: var(--padding-top);
}

.footer__info {
  --padding-bottom: 75px;
  padding-block-end: var(--padding-bottom);

  @media (min-width: $breakpoint-desktop) {
    @include flex-row();
    align-items: flex-start; // if we use align items center, everyting will be in the center but to align at the beginning
  }
}

.footer__info__about {
  --padding-bottom: 78px;
  padding-block-end: var(--padding-bottom);

  > span {
    --fonts_size: 24px;
    font-family: 'DM Serif Display', Arial, Helvetica, sans-serif;
    font-size: var(--fonts_size);
    text-transform: uppercase;

    > a {
      color: $black;
    }
  }

  > p {
    --padding-top: 23px;
    --padding-bottom: 38px;
  
    color: $dark-gray;
    padding-block-start: var(--padding-top);
    padding-block-end: var(--padding-bottom);
  }

  @media (min-width: $breakpoint-desktop) {
    max-width: 270px;
    padding-block-end: 0;
  }
}

.footer__info__pagination__list {
  --padding-bottom: 77px;

  padding-block-end: var(--padding-bottom);

  > li {
    --padding-bottom:8px;
    padding-block-end: 77
    px;

    a {
      color: $dark-gray;
    }
  }
}

li.footer__info__pagination__list--homepage a {
  font-weight: 700;
  color: $black;
}

.footer__info__author__item {
  display: flex;
  flex-direction: row;

  > a img {
    max-width: 70px;
  }

  > div {
    display: flex;
    flex-direction: column;
    padding-inline-start: 30px;

    > span {
      color: $dark-gray;
    }

    > time {
      font-size: 12px;
    }
  }
}

.footer__info__author__item:not(:last-of-type) {
  --padding-bottom: 27px;
  padding-block-end: var(--padding-bottom);
}

.footer__status {
  --padding-bottom: 27px;
  color: $dark-gray;
  padding-block-start: var(--padding-bottom);
  position: relative;
  

  > p span {
    text-transform: uppercase;
  }

  @media (min-width: $breakpoint-desktop) {
    @include flex-row();
  }

  > address a {
    color: $dark-gray;
  }
}

.footer__status::before {
  content: "";
  position: absolute;
  top: 0;
  left: -2rem;
  right: 0;
  border-top: 2px solid rgba(0, 0, 0, .1);
  width: 100vw;
}