@import  "variables";

.footer {
  --padding-top: 75px;
  --padding-bottom: 29px;
  background-color: $white;
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-top);

  
  .container {
    --padding-bottom: 70px;
    padding-bottom: var(--padding-bottom);

    @media (min-width: $breakpoint-tablet) {
      @include flex-row();
      align-items: flex-start; // if we use align items center, everyting will be in the center but to align at the beginning
      padding-bottom: 0;
    }
  }

  &__about {
    --padding-bottom: 90px;
    padding-bottom: var(--padding-bottom);
  
    > span {
      --fonts_size: 24px;
      font-family: 'DM Serif Display', Arial, Helvetica, sans-serif;
      font-size: var(--fonts_size);
      text-transform: uppercase;
  
      > a {
        color: $black;
      }
    }
  
    > p {
      --padding-top: 23px;
      --padding-bottom: 35px;
    
      color: $dark-gray;
      padding-top: var(--padding-top);
      padding-bottom: var(--padding-bottom);
    }
  
    @media (min-width: $breakpoint-tablet) {
      --elem_width: 270px;
      max-width: var(--elem_width);
      padding-bottom: 0;
    }
  }

  &__pagination__list {
    --padding-bottom: 77px;
  
    padding-bottom: var(--padding-bottom);
    color: $dark-gray;
  
    li:not(:last-of-type) {
      --padding-bottom: 8px;
      padding-bottom: var(--padding-bottom);

    }

    &--homepage {
      font-weight: 700;
      color: $black;
      --padding-bottom: 24px;
    }
  }

  address:not(:last-of-type) {
    --padding-bottom: 15px;
      padding-bottom: var(--padding-bottom);
  }

  &__author__item {
    display: flex;
    flex-direction: row;

    &:hover {
      text-decoration: none;
      opacity: 0.8;
    }

    img {
      max-width: 70px;
    }

    > div {
      display: flex;
      flex-direction: column;
      padding-inline-start: 30px;
  
      > span {
        color: $dark-gray;
      }
  
      > time {
        font-size: 12px;
      }
    }

    &:not(:last-of-type) {
      --padding-bottom: 27px;
      padding-bottom: var(--padding-bottom);
    }
  } 

  &__status {
    color: $dark-gray;
    position: relative;
    
    > .container {
      --padding-top: 27px;
      padding-top: var(--padding-bottom);
      padding-bottom: 0;
      > p span {
        text-transform: uppercase;
      }
  
      @media (min-width: $breakpoint-desktop) {
        @include flex-row();
      }
  
      > address a {
        color: $dark-gray;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      border-top: 2px solid $light-grey;
      width: 100vw;
    }
  }
}
