@import  "variables";

.footer {
  background-color: $white;
  padding-block-start: 75px;
}

.footer__info__about {
  padding-block-end: 18px;

  > span {
    font-family: 'DM Sans Display', Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-transform: uppercase;

    > a {
      color: $black;
    }
  }

  > p {
    color: $dark-gray;
    padding-block-start: 23px;
    padding-block-end: 38px;
  }
}