@import "variables";

.header {
  --padding-top: 16px;
  --padding-bottom: 16px;

  background-color: $blue;
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);

  > .container {
    --padding-right: 14px;
    @include flex-row();

    @media (min-width: $breakpoint-tablet) {
      --padding-right: 54px;
    }
  }

  &__heading {
    --fonts_size: 24px;
    line-height: 32px;
    text-transform: uppercase;
  
    > a {
      color: $white;
    }
  
    @media (min-width: $breakpoint-desktop) {
      --fonts_size: 40px;
    }
  }
}
