@import "variables";

.header {
  background-color: $blue;
  > .container {
    --padding-top: #{$based_unit};
    --padding-bottom: #{$based_unit};
    --padding-right: 14px;
    @include flex-row();
    padding-inline-end: 0;
    padding-block-start: var(--padding-top);
    padding-block-end: var(--padding-bottom);
  }
}

.header__heading {
  --fonts_size: 24px;
  text-transform: uppercase;

  > a {
    color: $white;
  }

  @media (min-width: $breakpoint-desktop) {
    --fonts_size: 40px;
  }
}