@import "variables";

.header {
  background-color: $blue;
  > .container {
    @include flex-row();
    padding-inline-start: 14px;
    padding-inline-end: 0;
    padding-block-start: $based_unit;
    padding-block-end: $based_unit;
  }
}

.header__heading {
  text-transform: uppercase;
  font-size: 24px;

  > a {
    color: $white;
  }
}