@import "variables";

.masthead {
  --padding-top: 31px;
  padding-block-start: var(--padding-top);
}

.masthead__headings {
  @include flex-column-reverse();

  

  > h2 {
    --fonts_size: 52px;
    --padding-top: 61px;
    --padding-bottom: 65px;

    padding-block-start: var(--padding-top);
    padding-block-end: var(--padding-bottom);

    @media (min-width: $breakpoint-desktop) {
      --fonts_size: 72px;
    }
  }

  > p  a {
    color: $dark-gray;
  }

  @media (min-width: $breakpoint-desktop) {
    max-width: $masthead_width;
  }
}

.masthead__description {
  font-size: 18px;
  line-height: 1.9;
  padding-block-end: 82px;

  @media (min-width: $breakpoint-desktop) {
    max-width: $masthead_width;
  }
}
