@import "variables";

.masthead {
  --padding-top: 31px;
  padding-top: var(--padding-top);

  &__headings {
    @include flex-column-reverse();
  
    > h2 {
      --fonts_size: 52px;
      --padding-top: 61px;
      --padding-bottom: 65px;
  
      padding-top: var(--padding-top);
      padding-bottom: var(--padding-bottom);
  
      @media (min-width: $breakpoint-desktop) {
        --fonts_size: 72px;
      }
    }
  
    > p  a {
      color: $dark-gray;
    }
  
    @media (min-width: $breakpoint-desktop) {
      max-width: $masthead_width;
    }
  }

  &__description {
    font-size: 18px;
    line-height: 1.9;
    padding-bottom: 82px;
  
    @media (min-width: $breakpoint-desktop) {
      max-width: $masthead_width;
    }
  }
}