@import "variables";

.menu {
  background-image: url("#{$path-to-image}icon_menu.svg");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 80% 50%;
  color: transparent;
  cursor: pointer;

  @media (min-width: $breakpoint-tablet) {
    display: none;
  }
}

// hide the checkbox
.checkbox-menu[type="checkbox"] {
  display: none;
}

// when the user check the checkbox by clicking the menu icon, the menu will show
.checkbox-menu[type="checkbox"]:checked ~ header .navigation {
  transform: translateY(0);
}

// because there is a close label in the body, that need to be hidden away
.close-menu {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  opacity: 0;
  transition: opacity 1s;
  background-color: rgba(0,0,0,.25);

  @media (min-width: $breakpoint-tablet) {
    background-color: initial;
  }
}

// when the menu icon is clicked make the main clickable, to close the menu
.checkbox-menu[type="checkbox"]:checked ~ main {
  z-index: 1;
} 

.checkbox-menu[type="checkbox"]:checked ~ label {
  z-index: 2;
  opacity: 1;
}


.header .navigation {
  --padding: 16px;
  --padding-right: 16px;
  --elem_width: 250px;

  padding-top: var(--padding);
  padding-bottom: var(--padding);
  padding-left: var(--padding);
  padding-right: var(--padding-right);
  background-color: #f8f8f8;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  width: var(--elem_width);
  box-shadow: 0 0 50px rgba(0,0,0,.5);
  transform: translateY(-110%);
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;

  &__close-menu {
    text-align: right;

    @media (min-width: $breakpoint-tablet) {
      display: none;
    }
  }

  @media (min-width: $breakpoint-tablet) {
    --elem_width: 324px;
    --padding: 0;
    --padding-right: 22px;
    position: initial;
    background-color: transparent;
    box-shadow: none;
    transform: none;
    transition: none;
  }
}


.navigation {
    &__list {
    order: 1;

    > li {
      --padding-bottom: 2rem;

      padding-bottom: var(--padding-bottom);
      font-weight: 700;

      a {
        color: $dark-gray;

        @media (min-width: $breakpoint-tablet) {
          color: $white;
        }
      }
      @media (min-width: $breakpoint-tablet) {
        padding-bottom: 0;
      }
    }

    @media (min-width: $breakpoint-tablet) {
      @include flex-row();
      gap: 39px;
    }
  }
}