@import "variables";

.section_subscription {
  background-color: $light-yellow;
  padding-block-start: 63px;
  padding-block-end: 54px;

  @media (min-width: $breakpoint-desktop) {
    .container {
      @include flex-row();
    }

    padding-block-start: 120px;
    padding-block-end: 104px;
  
  }
}

.section_subscription__header {
  @include flex-column-reverse();

  > h3 {
    --fonts_size: 43px;
    line-height: 1.3;
    padding-block-start: 19px;
    padding-block-end: 44px;

    @media (min-width: $breakpoint-desktop) {
      --fonts_size: 52px;
    }
  }

  > p {
    text-transform: uppercase;
    letter-spacing: 4.8px;
  }

  @media (min-width: $breakpoint-desktop) {
    max-width: 382px;
  }
}

.section_subscription__form {

  > fieldset {
    @include flex-row();
    @include reset-list();
    border: none;
    padding-block-end: $based_unit;
  
    > label {
      --fonts_size: 12px;
      font-weight: bold;
      font-size: var(--fonts_size);
      text-transform: uppercase;
      padding-block-end: 12px;
    }
  
    > input {
      width: 346px;
      font-family: 'DM Sans', Arial, Helvetica, sans-serif;
      font-size: var(--fonts_size);
      box-sizing: border-box;
      border: 1px solid $light-gray;
      line-height: 1.5;
      padding-inline-start: $based_unit;
      border-radius: $radius;
      padding-block-start: $padding-top;
      padding-block-end: $padding-bottom;
    }

    @media (min-width: $breakpoint-desktop) {
      padding-block-end: 0;
      padding-inline-end: 54px;
    }
  }

  > button {
    font-family: 'DM Sans', Arial, Helvetica, sans-serif;
    color: $white;
    border: none;
    border-radius: $radius;
    background-color: $blue;
    font-weight: bold;
    font-size: var(--fonts_size);
    line-height: 1.5;
    text-align: center;
    padding-inline-start: 45px;
    padding-inline-end: 45px;
    padding-block-start: $padding-top;
    padding-block-end: $padding-bottom;
  }

  > button:hover {
    background-color:  rgba(67, 76, 204, .8);
  }

  @media (min-width: $breakpoint-desktop) {
    @include flex-row();
    align-items: flex-end;
  }
}
