@import "variables";
.section_image-slider__header {
  display: none;
}

.section_image-slider__gallery {
  @include flex-row();
  overflow-x: scroll;
  margin-right: -2rem;
  scrollbar-width: none; /* To hide the scroll bar for Firefox */
  -ms-overflow-style: none; /* To hide the scroll bar for Internet Explorer 11 */

  @media (min-width: $breakpoint-desktop) {
    overflow-x: hidden; // hide the overflowing in case it will break the design
    margin-right: 0;
  }
}

// To hide the scroll bar for all the webkit browser
.section_image-slider__gallery::-webkit-scrollbar {
  display: none;
}


.section_image-slider__gallery__image {
  padding-right: 11px;

  > picture img.sliderImage {
    display: block;
    max-width: 137px;

    @media (min-width: $breakpoint-desktop) {
      max-width: 100%;
    }
  }
  
}

.section_image-slider__gallery__image img {
  cursor: pointer;
}

.section_image-slider__gallery__image:last-of-type {
  padding-right: 0;
}

.imageViewing {
  opacity: 1;
  @media (min-width: $breakpoint-desktop) {
    width: $breakpoint-desktop; // to make the image as big as the breakpoint, we need to set an unit value width
  }
}



.section_image-slider__gallery img {
  opacity: 0.5;
}

.section_image-slider__gallery img:hover {
  border: 1px solid $dark-gray;
  opacity: 1;
}


.sliderImage.open {
  opacity: 1;
}