@import "variables";

.section_mineral-carving {
  --padding-top: 92px;
  --padding-bottom: 105px;

  padding-block-start: var(--padding-top);
  padding-block-end: var(--padding-bottom);

  > .container {
    @include flex-column-reverse();

    @media (min-width: $breakpoint-desktop) {
      @include flex-row-reverse();
    }
  }
}

.section_mineral-carving__desc {
  --padding-top: 75px;
  padding-block-start: var(--padding-top);

  > header {

    > h3 {
      --fonts_size: 40px;
      --padding-bottom: 31px;
      padding-block-end: var(--padding-bottom);

      @media (min-width: $breakpoint-desktop) {
        --fonts_size: 52px;
      }
    }

    > p {
      --fonts_size: 18px;
      --padding-bottom: 36px;

      font-size: var(--fonts_size);
      padding-block-end: var(--padding-bottom);
    }
  }

  > p {
    --padding-bottom: 31px;
    color: $dark-gray;
    padding-block-end: var(--padding-bottom);
  }

  
  @media (min-width: $breakpoint-desktop) {
    max-width: $element-child-section;
  }
}


.section_mineral-carving__info {
  @include flex-row();
  flex-wrap: wrap;

  > li {
    > span {
      color: $dark-gray;
    }

    > p {
      font-weight: 700;
    }
  }
}

.section_mineral-carving__info--date {
  --padding-bottom: 40px;
  flex-basis: 50%;
  padding-block-end: var(--padding-bottom);
}


.section_mineral-carving__info--location {
  --padding-bottom: 40px;
  flex-basis: 50%;
  padding-block-end: var(--padding-bottom);
}

.section_mineral-carving__info--camera {
  flex-basis: 50%;

  p {
    max-width: 86px;
  
    @media (min-width: $breakpoint-desktop) {
      max-width: inherit;
    }
  }
}

.section_mineral-carving__info--lens {
  flex-basis: 50%;
}
