@import "variables";

.section_subscription {
  --padding-top: 63px;
  --padding-bottom: 54px;

  background-color: $light-yellow;
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);

  @media (min-width: $breakpoint-tablet) {
    .container {
      @include flex-row();
    }

    --padding-top: 79px;
    --padding-bottom: 104px;
  
  }

  &__header {
    --padding-bottom: 44px;
    --element-gap: 19px;

    @include flex-column-reverse();
    gap: var(--element-gap);
    max-width: 294px;
    padding-bottom: var(--padding-bottom);
  
    > h3 {
  
      --fonts_size: 40px;
      line-height: 1.3;

      @media (min-width: $breakpoint-desktop) {
        --fonts_size: 52px;
      }
    }

    > p {
      text-transform: uppercase;
      letter-spacing: 4.8px;
    }

    @media (min-width: $breakpoint-tablet) {
      --elem_width: 382px;
      --element-gap: 17px;
      max-width: var(--elem_width);
      padding: 0;
    }

  }

  &__form {
    --padding-top: 13px;
    --padding-bottom: 11px;
    --element-gap: 16px;
    display: flex;
    flex-direction: column;
    gap: var(--element-gap);

    @media (min-width: $breakpoint-desktop) {
      --element-gap: 54px;
      flex-direction: row;
      align-items: flex-end; // align the element from the bottom because their aren't the same and it doesn't look good from the center
    }

    > fieldset {
      --element-gap: 12px;

      @include flex-column();
      @include reset-list();
      gap: var(--element-gap);
      border: none;
      max-width: 346px;
    
      > label {
        --fonts_size: 12px;

        font-weight: bold;
        font-size: var(--fonts_size);
        text-transform: uppercase;
      }
    
      > input {
        --padding-right: #{$based_unit};

        width: 100%;
        font-family: 'DM Sans', Arial, Helvetica, sans-serif;
        font-size: var(--fonts_size);
        box-sizing: border-box;
        border: 1px solid $light-gray;
        line-height: 1.5;
        padding: 0;
        padding-left: var(--padding-right);
        border-radius: $radius;
        padding-top: var(--padding-top);
        padding-bottom: var(--padding-bottom);

        @media (min-width: $breakpoint-tablet) {
          width: 346px;
        }
      }

      @media (min-width: $breakpoint-desktop) {

        padding-bottom: 0;
      }
    }

    > button {
      --padding-left: 45.5px;
      --padding-right: 45.5px;
      font-family: 'DM Sans', Arial, Helvetica, sans-serif;
      max-width: 170px;
      color: $white;
      border: none;
      border-radius: $radius;
      background-color: $blue;
      font-weight: bold;
      font-size: var(--fonts_size);
      line-height: 24px;
      text-align: center;
      padding-left: var(--padding-left);
      padding-right: var(--padding-right);
      padding-top: var(--padding-top);
      padding-bottom: var(--padding-bottom);

      &:hover {
        background-color:  rgba(67, 76, 204, .8);
      }
    }
  }
}
