@import "variables";

.section_mineral-carving {
  padding-block-start: 92px;
  padding-block-end: 105px;

  > .container {
    @include flex-column-reverse();

    @media (min-width: $breakpoint-desktop) {
      @include flex-row-reverse();
    }
  }
}

.section_mineral-carving__desc {
  padding-block-start: 75px;

  > header {

    > h3 {
      --fonts_size: 40px;
      padding-block-end: 31px;

      @media (min-width: $breakpoint-desktop) {
        --fonts_size: 52px;
      }
    }

    > p {
      --fonts_size: 18px;
      font-size: var(--fonts_size);
      padding-block-end: 2rem;
    }
  }

  > p {
    color: $dark-gray;
    padding-block-end: 31px;
  }

  
  @media (min-width: $breakpoint-desktop) {
    max-width: $element-child-section;
   }
}


.section_mineral-carving__info {
  @include flex-row();
  flex-wrap: wrap;

  > li {
    > span {
      color: $dark-gray;
    }

    > p {
      font-weight: 700;
    }
  }
}

.section_mineral-carving__info--date {
  flex-basis: 50%;
  padding-block-end: 40px;
}


.section_mineral-carving__info--location {
  flex-basis: 50%;
  padding-block-end: 40px;
}

.section_mineral-carving__info--camera {
  flex-basis: 50%;

  p {
    max-width: 86px;
  
    @media (min-width: $breakpoint-desktop) {
      max-width: inherit;
    }
  }
}

.section_mineral-carving__info--lens {
  flex-basis: 50%;
}
