.social-media {
  --elem_width: 100px;
  @include flex-row();
  max-width: var(--elem_width);

  &__icon {
    a {
      color: #000;
      opacity: 0.3;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
