.social-media {
  --elem_width: 100px;
  @include flex-row();
  max-width: var(--elem_width);
}

.social-media__icon {
  > a {
    --elem_width: 18px;
    @include hide-text(); // if you hide the text by using text-indent, avoid the page from overflowing
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    width: var(--elem_width);
    height: $based_unit;
  }
}

.social-media__icon--facebook {
  background-image: url("#{$path-to-image}icon_facebook.svg");
}

.social-media__icon--twitter {
  background-image: url("#{$path-to-image}icon_twitter.svg");
}

.social-media__icon--instagram {
  background-image: url("#{$path-to-image}icon_instagram.svg");
}