@mixin flex-row {
  display: flex;
  display: -ms-flexbox;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-row-reverse {
  display: flex;
  display: -ms-flexbox;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column-reverse {
  display: flex;
  display: -ms-flexbox;
  flex-direction: column-reverse;
  justify-content: space-between;
}
@mixin flex-column {
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  justify-content: space-between;
}