body {
  font-family: 'DM Sans', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

p,
figure {
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'DM Sans Display', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal; }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

.container {
  padding-inline-start: 14px;
  padding-inline-end: 15px; }
  @media (min-width: 1440px) {
    .container {
      max-width: 1440px;
      margin-left: auto;
      margin-right: auto; } }

.header {
  background-color: #434CCC;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.menu {
  background-image: url("../images/icon_menu.svg");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: 50% 50%;
  color: transparent; }

.navigation {
  display: none; }
