body {
  font-family: 'DM Sans', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  overflow-x: hidden; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

p,
figure {
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'DM Sans Display', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  border-radius: 10px; }

.container {
  padding-inline-start: 14px;
  padding-inline-end: 15px; }
  @media (min-width: 1440px) {
    .container {
      max-width: 1440px;
      margin-left: auto;
      margin-right: auto; } }

.header > .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #434CCC;
  padding-inline-start: 14px;
  padding-inline-end: 0;
  padding-block-start: 16px;
  padding-block-end: 16px; }

.header__heading {
  text-transform: uppercase;
  font-size: 24px; }
  .header__heading > a {
    color: #fff; }

.masthead {
  padding-block-start: 31px; }

.masthead__headings {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between; }
  .masthead__headings > h2 {
    font-size: 52px;
    padding-block-start: 61px;
    padding-block-end: 65px; }
  .masthead__headings > p {
    color: rgba(0, 0, 0, 0.5); }

.masthead__description {
  font-size: 18px;
  line-height: 1.9;
  padding-block-end: 82px; }

.masthead__gallery__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.masthead__gallery__list__image {
  display: none;
  padding-inline-end: 11px; }
  @media (min-width: 1440px) {
    .masthead__gallery__list__image {
      display: block; } }

.masthead__gallery__list__image--rock-carvings {
  display: block; }

.masthead__gallery__list__image--stairs {
  display: block; }

.masthead__gallery__list__image--ripples {
  display: block;
  margin-inline-end: -6rem; }

.menu {
  background-image: url("../images/icon_menu.svg");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: 50% 50%;
  color: transparent; }

.navigation {
  display: none; }

body > [type="checkbox"] {
  display: none; }

body > label {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  opacity: 0;
  transition: opacity 1s;
  background-color: rgba(0, 0, 0, 0.25); }
